

:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

    --main-text: black;
    --secondaryText: #4b5156;

    --theme-dot-border:#24292e;

    
    --previewBG:rgb(251, 249, 243,0.8);
    --previewShadow:#f0ead6;

    --buttonColor:black;
    /* 
    --font-family: 'Roboto', sans-serif; 
    --font-family: 'Roboto Mono', monospace;
    --font-family: 'Russo One', sans-serif; 
    
    */
}

html,body{
    margin: 0;
    padding: 0;
}
body * {
    transition: 0.3s;
}
strong,h1,h2,h3,h4,h5,h6{
 color: var(--main-text);
 font-family: 'Russo One', sans-serif;
 font-weight: 500;

}

p,li,span,label,input,textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}
a {
    text-decoration: none;
    color: #17a2b8;
}
ul{
    list-style: none;
}
h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
    background-color: var(--mainColor);
    border-bottom:1px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom:1px solid var(--borderColor);
    overflow:auto;
}
.main-container{
    width: 1200px;
    margin: 0 auto;

}

.greeting-wrapper{
    /* border: 2px dashed lightcoral; */
    display: grid;
    text-align: center;
    align-content: center;
    /* justify-content: center; */
    min-height: 10em;
    
}
.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0 ;

    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    display: grid;
    grid-template-columns: 1fr 1fr ;
    /* grid-template-rows: 3em 30em; */
    grid-template-areas: 
    "nav-wrapper nav-wrapper"
    "left-column right-column";

}
.nav-wrapper{
    /* border: 1px dashed lightcoral; */
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;

}
#navigation a {
    color: var(--main-text);
}

#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;

}

.dots-wrapper{
 display: flex;
 padding: 10px;
}
#dot-1{
    background-color: #fc6058;
}
#dot-2{
    background-color: #fec02f;
}
#dot-3{
    background-color: #2aca3e;
}

.browser-dot{
    width:15px;
    height:15px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;


    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
.left-column{
    /* border: 1px dashed lightcoral; */
    grid-area: left-column;
    object-fit: contain;
    padding-top: 50px;
    padding-bottom: 50px;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    

}
#preview{
    width: 300px;
    border:1.5px solid #17a2b8 ;
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;
}
#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height:   180px;
    padding-left: 30px;
    padding-top: 30px;

}

.corner{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border:1.5px solid #17a2b8 ;
    position: absolute;
    background-color: fff;

}
#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}


#profile-pic{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}
.theme-options-wrapper{
    display: flex;
    justify-content: center;

}

.theme-dot{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: black;
    margin: 5px;
    border: 3px solid var( --theme-dot-border);
    
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    
}
.theme-dot:hover {
    border-width: 5px;
}
#light-mode{
    background-color: #fff;

}
#blue-mode{
    background-color: #192734;
    
}
#green-mode{
    background-color:#78866b;
    
}
#purple-mode{
    background-color: #7e4c74;
    
}
#settings-note{
    font-size: 12px;
    text-align: center;
    font-style:italic;
}
.about-wrapper{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;


}
#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);

}
.social-links{
    display: grid;
    align-content: center;
    text-align: center;

}
#social-img{
    width: 100%;
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    padding-bottom: 50px;
    gap: 5px;
    justify-content: center;
    /* align-content: space-between; */
}
.post{
    border:1px solid var(--borderColor) ;
    
    margin:10px;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}
.thumbnail{
    width: 100%;
    height:180% ;
    display: block;
    object-fit: cover;
    gap: 20px;
    justify-content: center;

}
.post-preview{
    background-color: #fff;
    padding: 15px;
}
.post-title{
    color:black;
    margin: 0;

}
.post-intro{
    color: #4b5156;
    font-size: 14px;
}
#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;

}
#contact-form label{
    line-height: 2.7rem;

}
#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;

}

#submit-btn{
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;

}



@media screen and (max-width: 1200px){
    .main-container{
        width:95%;

    }
}@media screen and (max-width: 800px){
    .intro-wrapper{
        
        display: grid;
        grid-template-columns: 1fr  ;
        
        grid-template-areas: 
        "nav-wrapper "
        "left-column"
        " right-column";
    
    }
    .right-column{
        justify-content: center;

    }
}